<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/common_head :: commonHeader('百变泥匠-首页')">
	<include src="commons/common_head.html" />
	<!-- Modernizr JS -->
	<script th:src="@{js/modernizr-2.6.2.min.js}"></script>
</head>
<body>
	<div class="container">
            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<!-- Start Sign In Form -->
					<form action="#" class="fh5co-form animate-box" data-animate-effect="fadeIn">
						<h2>百变泥匠</h2>
						<div class="form-group">
							<label for="username" class="sr-only">Username</label>
							<input type="text" class="form-control" id="username" name="userName" placeholder="用户名" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="密码" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="remember"><input type="checkbox" id="remember" name="remember"> 记住我</label>
						</div>
						<div class="form-group">
							<input type="button" value="登录" class="btn btn-primary">
						</div>
					</form>
					<!-- END Sign In Form -->

				</div>
			</div>
			<p6 th:text="${code}"></p6>
			<div class="row" style="padding-top: 60px; clear: both;">
				<div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. More Templates - Collect from <a href="#" title="contacts me" target="_blank">Create by wangzun</a></small></p></div>
			</div>
		</div>
	<div th:replace="/commons/include :: onloadJS"></div>	
	<script type="text/javascript" th:inline="javascript">
		$(".btn-primary").click(function() {
			//var fd = new FormData(document.querySelector("form"));
			var data = {
				"userName" : $("#username").val(),
				"password" : $("#password").val(),
				"remember" : true
			};
			$.ajax({
				url: ctx + "/admin/doLogin",
				data:data,
				type:"post",
				dataType:"json",
				success:function(data) {
					if(200 == data.code) {
						location.href= ctx + "/admin/main";
					}
				},
				error:function() {
					alert(1);
				}
			})
		})
		
	</script>
	</body>
	 
</body>
</html>